<div class="ui sizer vertical segment">
  <div class="ui huge centered header">BeerBook</div>
  <p></p>
</div>



<div class="ui middle aligned four column centered grid">
  <div class="four column centered row">
    <div class="column"></div>
  </div>
  <div class="four column centered row">
    <div class="column"></div>
  </div>
  <div class="four column centered row">
    <div class="column"></div>
  </div>
  <div class="four column centered row">
    <div class="column"></div>
  </div>
  <div class="four column centered row">
    <div class="column"></div>
  </div>
  <div class="four column centered row">
    <div class="column">
      <h1>Log In</h1>

      <div class="ui form error">
        <div class="field">
          <%= form_with(url: login_path, local: true) do |f| %>
            <p>
              <%= f.label "Username or Email" %>
              <%= f.text_field :username, placeholder: "Enter Username or Email" %>
            </p>

            <p>
              <%# referring to password_digest attribute %>
              <%= f.label :password %><br>
              <%= f.password_field :password, placeholder: "Enter a password" %>
            </p>

            <p>
              <%= f.submit class: "ui yellow button", value: "Log in" %>
            </p>
          <% end %>
        </div>
        
        Don't have an account? <%= link_to "Sign up", signup_path %>
    </div>
 </div>
</div>