<div class="ui secondary  menu">
  <% if current_user %>
   <a href=<%= "/users/#{current_user.id}" %> class="item">Profile page</a>
  <% end %>
 
  <a href="/beers" class="item">Beers</a>
  <a href="/breweries" class="item">Breweries</a>
  <div class="right menu">
    <div class="item">
      <div class="ui icon input">

        <% if session[:user_id].to_i == params[:id].to_i %>
          <%= form_tag("/search", method: :get) do %>
            <%= label_tag(:id, "Search by Beer:") %>
            <%= collection_select(:beer, :id, Beer.all, :id, :name) %>

             <%= submit_tag("Search") %>
          <% end %>
        <% end %>
 
      </div>
    </div>
    <% if current_user %>
    <a class="ui item" <%= link_to "Log out", logout_path, method: :delete %> >
    </a>
      <% end %>
  </div>
</div>

<h1>Beer Category</h1>

<h2><%= @beer_category.category %></h2>

<ul>
<% @beer_category.beers.each do |beer| %>
  <li><%= beer.name %></li>
<% end %>
</ul>