<%= form_with(model: @user, local: true) do |f| %>
  <p>
    <%= f.label :username %><br>
    <%= f.text_field :username, placeholder: "Enter a username" %>
  </p>

  <p>
    <%= f.label :email %><br>
    <%= f.email_field :email, placeholder: "Enter your email" %>
  </p>

  <p>
    <%# referring to password_digest attribute %>
    <%= f.label :password %><br>
    <%= f.password_field :password, placeholder: "Enter a password" %>
  </p>

  <p>
    <%# checks to see if user object is persisted in database %>
    <%= f.submit(@user.new_record? ?  "Sign up" : "Update account") %>
  </p>
<% end %>