<h1><%= @user.username %>'s profile</h1>

<%= form_tag("/search", method: :get) do %>
  <%= label_tag(:id, "Search by Beer:") %>
  <%= collection_select(:beer, :id, Beer.all, :id, :name) %>

  <%= submit_tag("Search") %>
<% end %>

<h2>Beers</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Style</th>
      <th>ABV</th>
      <th>Brewery</th>
      <th>Category</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @user.beers.each do |beer| %>
      <tr>
        <td><%= beer.name %></td>
        <td><%= beer.style %></td>
        <td><%= beer.abv %></td>
        <td><%= beer.brewery %></td>
        <td><%= beer.category %></td>
        <td><%= link_to "Show", beer %></td>
        <td><%= link_to "Delete", beer.user_beer, method: :delete, data: { confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>