<h1><%= @user.username %>'s profile</h1>

<%= session[:user_id] %>
<% if session[:user_id].to_i == params[:id].to_i %>
  <%= form_tag("/search", method: :get) do %>
    <%= label_tag(:id, "Search by Beer:") %>
    <%= collection_select(:beer, :id, Beer.all, :id, :name) %>

    <%= submit_tag("Search") %>
  <% end %>
<% end %>

<h2>Beers</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>ABV</th>
      <th>Brewery</th>
      <th>Category</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @user.beers.each do |beer| %>
      <tr>
        <td><%= beer.name %></td>
        <td><%= beer.abv %></td>
        <td><%= link_to "#{beer.brewery.name}", beer.brewery %></td>
        <td><%= beer.beer_category.category %></td>
        <td><%= link_to "Show", beer unless current_user.id == params[:id] %></td>
        <td><%= link_to "Delete", user_beer_path, method: :delete, data: { confirm: "Are you sure?" } unless current_user.id == params[:id] %></td>
      </tr>
    <% end %>
  </tbody>
</table>