<div class="ui secondary  menu">
  <a href="/beers" class="item">Beers</a>
  <a href="/breweries" class="item">Breweries</a>
  <div class="right menu">
    <div class="item">
      <div class="ui icon input">

        <% if session[:user_id].to_i == params[:id].to_i %>
          <%= form_tag("/search", method: :get) do %>
            <%= label_tag(:id, "Search by Beer:") %>
            <%= collection_select(:beer, :id, Beer.all, :id, :name) %>

             <%= submit_tag("Search") %>
          <% end %>
        <% end %>
 
      </div>
    </div>
      <% if current_user %>
    <a class="ui item" <%= link_to "Log out", logout_path, method: :delete %> >
    </a>
      <% end %>
  </div>
</div>

<div class="ui sizer vertical segment">
  <div class="ui huge header"><%= @user.username %>'s profile</div>
  <p></p>
</div>


<h2>Beers</h2>
<table class="ui celled table">
  <thead>
    <tr>
    <th>Name</th>
    <th>ABV</th>
    <th>Brewery</th>
    <th>Category</th>
    <th colspan="2">Actions</th>
  </tr></thead>
  <tbody>
  <% @user.beers.each do |beer| %>
    <tr>
       <td data-label="Beer Name"><%= beer.name %></td>
        <td data-label="ABV"><%= beer.abv %></td>
        <td data-label="Brewery show page"><%= link_to "#{beer.brewery.name}", beer.brewery %></td>
        <td data-label="Category"><%= link_to "#{beer.beer_category.category}", beer.beer_category %></td>
        <td data-label=""><%= link_to "Show", beer unless current_user.id == params[:id] %></td>
        <td data-label=""><%= link_to "Delete", user_beer_path, method: :delete, data: { confirm: "Are you sure?" } unless current_user.id == params[:id] %></td>
    </tr>
     <% end %>
  </tbody>
</table>
