<div class="ui yellow massive secondary inverted menu">
  <a href="/beers" class="item">Beers</a>
  <a href="/breweries" class="item">Breweries</a>

  <div class="right menu">
    <div class="item">
      
    </div>

      <% if current_user %>
        <a class="ui item" <%= link_to "Log out", logout_path, method: :delete %> </a>
      <% end %>
  </div>
</div>

<div class="ui sizer vertical segment">
  <div class="ui huge header" align="center"><%= @user.username %>'s profile 🍺</div>
</div>

<div class="ui container">
<h2 style="right:100px;">Beers <%= "🍺" * @user.user_beers.count %></h2>
<table class="ui celled table">
  <thead>
    <tr>
      <th>Name</th>
      <th>ABV</th>
      <th>Brewery</th>
      <th>Category</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @user.beers.each do |beer| %>
      <tr>
          <td data-label="Beer Name"><%= link_to "#{beer.name}", beer %></td>
          <td data-label="ABV"><%= beer.abv %></td>
          <td data-label="Brewery show page"><%= link_to "#{beer.brewery.name}", beer.brewery %></td>
          <td data-label="Category"><%= link_to "#{beer.beer_category.category}", beer.beer_category %></td>
          <td data-label=""><%= link_to "Show", beer unless current_user.id == params[:id] %></td>

          <%# link_to "+ Service", new_my_service_path(:my_service => { :account_id => acct.id })
 %>
          <td data-label=""><%= link_to "Delete", user_beer_path(:beer_id => "#{beer.id}"), method: :delete, data: { confirm: "Are you sure?" } unless current_user.id == params[:id] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<div style="position: absolute; margin-left: auto; margin-right: auto;">
<% if @user.user_beers.count > 5%>
  <img id="drag1" src="/assets/barney.gif">
<% end%>
</div>