<div class="ui yellow secondary inverted menu">
  <% if current_user %>
    <a href=<%= "/users/#{current_user.id}" %> class="item">Profile page</a>
  <% end %>

  <a href="/beers" class="item">Beers</a>
  <div class="right menu">
    <div class="item">
      <div class="ui icon input">

        <% if session[:user_id].to_i == params[:id].to_i %>
          <%= form_tag("/search", method: :get) do %>
            <%= label_tag(:id, "Search by Beer:") %>
            <%= collection_select(:beer, :id, Beer.all, :id, :name) %>

            <%= submit_tag("Search") %>
          <% end %>
        <% end %>

      </div>
    </div>
    <% if current_user %>
    <a class="ui item" <%= link_to "Log out", logout_path, method: :delete %> 
    </a>
      <% end %>
  </div>
</div>


<%= render 'layouts/user_profile' %>

<h1>Breweries Index Page</h1>
<hr>

<h2>Breweries</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Street</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @breweries.each do |brewery| %>
      <tr>
        <td><%= brewery.name %></td>
        <td><%= brewery.street %></td>
        <td><%= link_to "Show", brewery %></td>
      </tr>
    <% end %>
  </tbody>
</table>
