<h1><%= @brewery.name %>'s Show Page</h1>
<hr>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Street</th>
      <th>Website</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @brewery.name %></td>
        <td><%= @brewery.street %></td>
        <td><%= @brewery.website %></td>
        <td><%= @brewery.description %></td>
      </tr>
  </tbody>
</table>

<ul>
<% @beer_name.each do |b| %>
  <li><%= b %></li>
<% end %>

<%= @beer_desc.count %><br>
</ul>

<ul>
<% @beer_desc.each do |d| %>
    <%= d %><br>
<% end %>
</ul>