<%= render 'layouts/user_profile' %>

<h1><%= @brewery.name %>'s Show Page</h1>
<hr>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Street</th>
      <th>Website</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @brewery.name %></td>
        <td><%= @brewery.street %></td>
        <td><%= @brewery.website %></td>
        <td><%= @brewery.description %></td>
      </tr>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>Beer Name</th>
      <th>Beer Description</th>
    </tr>
  </thead>
  <tbody>
    <% @beer_hash.each do |b, d| %>
    <tr>
      <td><%= b %></td>
      <td><%= d %></td>
    </tr>
    <% end %>
  </tbody>
</table>
