<h1><%= @brewery.name %>'s Show Page</h1>
<hr>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Street</th>
      <th>Website</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @brewery.name %></td>
        <td><%= @brewery.street %></td>
        <td><%= @brewery.website_url %></td>
        <td><%= @brewery.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>