<div class="ui secondary  menu">
  <% if current_user %>
    <a href=<%= "/users/#{current_user.id}" %> class="item">Profile page</a>
  <% end %>

    <a href="/beers" class="item">Beers</a>
    <a href="/breweries" class="item">Breweries</a>
    <div class="right menu">
      <div class="item">
        <div class="ui icon input">
          <% if session[:user_id].to_i == params[:id].to_i %>
            <%= form_tag("/search", method: :get) do %>
              <%= label_tag(:id, "Search by Beer:") %>
              <%= collection_select(:beer, :id, Beer.all, :id, :name) %>

              <%= submit_tag("Search") %>
            <% end %>
          <% end %>
        </div>
      </div>

      <% if current_user %>
        <a class="ui item" <%= link_to "Log out", logout_path, method: :delete %> ></a>
      <% end %>
    </div>
</div>




<%= render 'layouts/user_profile' %>



<div style="float:left; width:200px; padding:30px;" > 

<h1><%= @beer.name %></h1>

    <%= button_to "Add", user_beers_path, name: "#{params[:id]}", class: "positive ui   button" %>
</div>





<div style="float:left; width:500px; padding:30px; top:75%;" > 
<div class="ui comments">
  <h3 class="ui dividing header">Comments</h3>
  <% @beer.user_comments.each do |c| %>
  <div class="comment">
    
    <div class="content">
      <a class="author"><%= "#{c.user.username}" %></a>
      <div class="metadata">
        <span class="date"><%= "#{c.created_at}" %></span>
      </div>
      <div class="text">
        <%= "#{c.comment}" %>
      </div>
    </div>
  </div>
  <% end %>

  Leave a comment! <br>

    <%= form_with(url: user_comments_path, local: true, class: "ui reply form") do |f| %>
        <div class="field">
          <%= f.text_area :comment, placeholder: "Leave a comment" %>
        </div>
          <%= f.submit name: "#{params[:id]}", class: "ui blue labeled submit icon button" %>
    <% end %>
</div>
</div>



<table class="ui celled table">
  <thead>
    <tr>
      <th>ABV</th>
      <th>Brewery</th>
      <th>Category</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td data-label="ABV"><%= @beer.abv %></td>
        <td data-label="Brewery show page"><%= link_to "#{@beer.brewery.name}",@beer.brewery %></td>
        <td data-label="Category"><%= link_to "#{@beer.beer_category.category}",@beer.beer_category %></td>
      </tr>
  </tbody>
</table>
