<%= render 'layouts/user_profile' %>

<h1><%= @beer.name %></h1>

<%= button_to "Add", user_beers_path, name: "#{params[:id]}" %>

Users Comments: <br>
<% @beer.user_comments.each do |c| %>
     <%= "#{c.user.username}: #{c.comment}" %> <br> <br>
<% end %>

Leave a comment! <br>
<%= form_with(url: user_comments_path, local: true) do |f| %>
    
    <%= f.text_area :comment, placeholder: "Leave a comment" %>

    <%= f.submit name: "#{params[:id]}" %>
<% end %>
